:root {
  --primary-color: #8b0000;
}


body {
    margin: 0;
    padding: 0;
  }
  
  /* Common styles for header and footer */
  header, footer {
    font-weight: 700;
    position: fixed;
    width: 100%;
    background-color: var(--primary-color); 
    color: green;
    padding: 10px 0;
  }
  
  /* Header styles */
  header {
    font-family: 'Kanit', sans-serif;
    top: 0;
  }

  a {
    color: green;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: purple;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }
  
  a:focus{
    color: red;
    text-decoration: underline;
  }

  a:active {
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  article {
    background-color: var(--primary-color); 
    color: green;
    top: 0;
    padding: 10px 0;
  }
  
  main {
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: left; 
    height: 100vh; 
    background-color: rgb(3, 61, 3);
    color: beige;
  }

  section{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main>section>h2 {
    flex: 3;
    color: beige;
    padding-bottom: 10px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
  }
  
  
  footer span#copyright {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h1 {
    font-size: 40px;
    margin: 20px;
  }

  h1, h2 {
    font-family: 'Kanit', sans-serif;
  }

  p {
    font-family: 'Raleway', sans-serif;
  }

#hero {
    font-family: 'Raleway', sans-serif;
    flex: 2;
    padding: 50px 0;
    width: 100%;
    max-height: 30vh; 
}

#whyUs {
    font-family: 'Raleway', sans-serif;
    flex: 2;
    padding: 50px 0;
    width: 40%;
    max-width: 100%; 
}

#callToAction {
    font-family: 'Raleway', sans-serif;
    flex: 1;
    padding: 50px 0;
    width: 600px;
    max-width: 100%; 
    padding-bottom: 10px;
}

