:root {
  --primary-color: rgb(3, 61, 3);
}

header, footer {
  font-weight: 700;
  position: fixed;
  width: 100%;
  background-color: #8b0000; 
  color: green;
  padding: 10px 0;
}

header {
  font-family: 'Kanit', sans-serif;
  top: 0;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
    font-family: Arial, sans-serif;
  }
  
  /* Common background color */
  html, body {
    background-color: #F5F5F5;
  }
  
  /* Common button styles */
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  main {
    background-color: var(--primary-color);
  }

  a {
    color: green;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: purple;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }
  
  a:focus{
    color: red;
    text-decoration: underline;
  }

  a:active {
    text-decoration: none;
  }