/* Apply some basic styling to the form container */
.mdc-layout-grid {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Center the form elements in the grid */
.mdc-layout-grid__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add some spacing between form elements */
.mdc-text-field,
.mdc-form-field,
.mdc-button {
    margin-bottom: 16px;
}

/* Style the buttons */
.mdc-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976D2;
    color: white;
    transition: background-color 0.2s;
}

.mdc-button:hover {
    background-color: #1565C0;
}

/* Style the Info on Problem Gambling link button */
.mdc-button--outlined {
    background-color: transparent;
    border: 1px solid #1976D2;
    color: #1976D2;
    text-decoration: none;
    text-align: center;
}

.mdc-button--outlined:hover {
    background-color: #E3F2FD;
    border-color: #1976D2;
    color: #1565C0;
}

/* Center the checkboxes and their labels */
.mdc-form-field {
    display: flex;
    align-items: center;
}

/* Add padding to the checkboxes and labels */
.mdc-checkbox {
    margin-right: 8px;
}

/* Increase the clickable area for the checkboxes */
.mdc-checkbox__native-control {
    margin-right: 4px;
}

/* Style the checkboxes' labels */
.mdc-checkbox__background {
    border: 2px solid #1976D2;
    border-radius: 2px;
}

/* Style the checkbox checkmark */
.mdc-checkbox__checkmark {
    fill: #1976D2;
}

/* Style the floating labels */
.mdc-floating-label {
    color: #1976D2;
}

/* Style the input fields */
.mdc-text-field__input {
    border-bottom: 2px solid #1976D2;
}

/* Style the input fields when they are focused */
.mdc-text-field--focused .mdc-text-field__input {
    border-bottom: 2px solid #1565C0;
}