/* Remove default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Remove list styles */
  ul {
    list-style: none;
  }
  
  /* Reset links to remove underlines and change color */
  a {
    text-decoration: none;
    color: inherit;
  }