/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Common styles for header and footer */
  header, footer {
    position: fixed;
    width: 100%;
    background-color: orange; 
    color: black;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Header styles */
  header {
    top: 0;
  }

  article {
    background-color: orange; 
    color: black;
    top: 0;
    padding: 10px 0;
    margin-top: 100px;
  }

  /* Footer styles */
  footer {
    bottom: 0;
  }
  