/* Custom properties for background colors */
:root {
    --mdc-bg-color: #8b0000; /* Set your desired background color */
}

/* Header styles */
.mdc-top-app-bar {
    background-color: var(--mdc-bg-color);
}

.mdc-top-app-bar__title {
    color: beige; 
}

.mdc-top-app-bar__action-item {
    margin-inline: 50px;
    font-size: 24px;
    color: beige; 
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Link color */
}

header {
    background-color: var(--mdc-bg-color);
}

footer {
    text-align: center;
    padding: 10px;
    color: beige;
    background-color: var(--mdc-bg-color);
}